@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Sarala&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MontSerrat', sans-serif;
}

.containerHeader {
    background-color: #132235;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    height: auto;
    margin-top: 30px;
}

.navHeader a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 2.5em;
    margin-right: 1em;
    font-family: 'MontSerrat', sans-serif;
}

.navHeader a:hover{
    cursor: pointer;
    color: lightseagreen;
}

.imgLogo {
    height: 125px ;
}

.containerMain {
    width: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerSearch {
    display: flex;
    justify-content: center;
    
}

.containerSearch input{
    height: 30px;
    width: 450px;
    
}

.containerSearch button{
    height: 30px;
    width: 130px;
    font-size: 1em;
    margin-left: 30px;
}

.containerMain p{
    color: #132235;
    font-size: 3em;
    text-align: center;
}

.containerResult{
    width: auto;
}