@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Sarala&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MontSerrat', sans-serif;
}

body {
    height: 100vh;
}

.containerHeader {
    background-color: #132235;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    height: auto;
    margin-top: 30px;
}

.navHeader a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 2.5em;
    margin-right: 1em;
    font-family: 'MontSerrat', sans-serif;
}

.navHeader a:hover{
    cursor: pointer;
    color: lightseagreen;
}

.imgLogo {
    height: 125px ;
}

.containerMain {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.containerSearch input{
    height: 30px;
    width: 450px;
    margin: 30px; 
}

.containerSearch button{
    height: 30px;
    width: 130px;
    font-size: 1em;
    margin: 30px; 
}

.containerMain p{
    margin: 30px; 
    color: #132235;
    font-size: 3em;
    text-align: center;
}

#buscarTodos {
    height: 45px;
    width: 200px;
    margin: 20px;
}

.containerSearchAll{
    display: flex;
    justify-content: center;
}

#titleResults{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#titleResults h1, h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
}

#filtros {
    margin: 20px 0;
}

#filtros input {
    width: 155px;
}

.invisivel {
    display: none;
}

#containerResults {
    width: 100%;
    margin: 32px auto;
}

#containerResults .listResults .list {
    border-bottom: 1px solid lightgrey;
    padding: 16px 32px;
}

#containerResults .listResults .list:hover {
    background-color: rgba(88, 88, 88, 0.04);
}

#containerResults .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

#containerResults .controls div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14;
}

#containerResults .buttonDetails {
    cursor: pointer;
    font-size: 10;
    padding: 5px 8px;
}

#containerResults .buttonDetails:hover {
    color: rgba(0, 0, 0, 0.50);
}

#containerResults .controls div:not(.numbers),
#containerResults .controls div.numbers div{
    width: 100px;
    height: 40px;
}

#containerResults .controls div.numbers div:hover,
#containerResults .controls div.numbers div.active {
    color: lightgrey;
}

.list .info-nome {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.buttonDetails {
    margin-top: 10px;
}

.info-referencia, .info-sobre, .info-data {
    display: none;
}